<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style4.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNN Workflow</title>
</head>

<body>
    <div class="workflow-container">
        <h1>CNN Workflow</h1>
        <img src="{{ url_for('static', filename='static/Workflow-diagram-of-the-proposed-CNN-model-for-COVID-19-detection.png') }}" alt="CNN Workflow" class="workflow-image">
        <a href="/" class="back-button">Back to Login</a>
        

    </div>
</body>
</html>
